<p>notifications works!</p>



<app-nav></app-nav>

<div>
   <br><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-side-buyer></app-side-buyer>
        </div>
    <div class="col-lg-9"><br><br>
        <h2>Your Notifications</h2>

        <div class="list-group">
            <a href="buyer/notifications" class="list-group-item list-group-item-action">First item</a>
            <a href="buyer/notifications" class="list-group-item list-group-item-action">Second item</a>
            <a href="buyer/notifications" class="list-group-item list-group-item-action">Third item</a>
          </div>

    </div>
    </div>
</div>

