.notification {
  background-color: rgb(255, 255, 255);
  
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border: 1px solid rgb(214, 214, 214);
}

.notification:hover {
  text-decoration: underline;
}

.notification .badge {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}