<div class="container">
    <div>
        <h1>Welcome!</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!-- <h1 class="my-4">User Name</h1>
                <div class="list-group">
                    <a href="admin/view-pending-reviews" class="list-group-item">Manage Pending Reviews</a>
                    <a href="admin/view-pending-sellers" class="list-group-item">Manage Pending Sellers</a>
                </div> -->
        </div>

    <div class="col-lg-9">
        <div class="col-md-6 user-container">

            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="name"> Name:</label>
                    <input formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
                </div>

                <div class="form-group">

                    <label for="email">Last Name:</label>
                    <label for="email">Email:</label>

                    <input formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input formControlName="password" placeholder="password" name="password" class="form-control" id="password">
                </div>

                <div class="form-group">
                    <label for="role">Role:</label>
                    <input formControlName="role" placeholder="Buyer/Seller" name="role" class="form-control" id="role">
                </div>

                <button class="btn btn-success">Add</button>
            </form>
        </div>

    </div>
    </div>
</div>


