<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">User Name</h1>
                <div class="list-group">
                    <a href="admin/view-pending-reviews" class="list-group-item">Manage Pending Reviews</a>
                    <a href="admin/view-pending-sellers" class="list-group-item">Manage Pending Sellers</a>
                </div>
        </div>
    <div class="col-lg-9">
        <app-coursel></app-coursel>
        <p>admin works!</p>
    </div>
    </div>
</div>
  
    
      
  


