<p>maintain-orders works!</p>



<app-nav></app-nav>
<p>seller wordks!</p>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-side-seller></app-side-seller>
        </div>
    <div class="col-lg-9">
        <h2>Maintain Orders</h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Shipping Address</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order._id}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.shippingAddressId}}</td>
                    <td><button class="btn btn-success" (click)="changeOrderStatus(order)">Change Status </button> </td>
                    <td>
                        <button class="btn btn-warning" (click)="cancelOrder(order)" style="margin-left: 20px;">Cancel </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>